{% extends "base.html" %} 
{% load static %} 

{% block page_header %}
<div class="container header-container mt-5">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10 col-md-9 text-center">
      <h2 class="text-uppercase font-weight-bold">
        Your tech adventure starts here
      </h2>
      <hr class="mb-3" />
      <p class="mt-3 lead">
        Welcome to Smart Tech, your ultimate destination for the latest and
        coolest accessories, cutting-edge gadgets, and thrilling games!
      </p>
      <p class="mt-3 lead">
        Wether you are looking to level up your smartphone with stylish cases
        and innovative tech accessories, or dive into the world of gaming with
        the hottest new releases and gear, we have got you covered. Explore our
        handpicked collection designed to bring your tech experience to the next
        level. Don't miss out on the must-have gadgets that everyone is talking
        about - shop now and stay ahead of the curve!
      </p>

      <a
        class="btn btn-lg btn-warning font-weight-bold text-uppercase w-50 mt-3 mb-3"
        href="{% url 'products' %}"
      >
        Shop Now
      </a>
    </div>
  </div>
</div>

{% endblock %}
