<script type="text/javascript">
  $(document).ready(function () {
    const $quantityInput = $(".quantity-input");
    const $substractionButton = $(".substraction");
    const $addButton = $(".addition");

    // Disable buttons if below to 2 or above 98
    function handleEnableDisable(itemId) {
      var currentValue = parseInt($(`#id_quantity_${itemId}`).val());
      var minusDisabled = currentValue < 2;
      var plusDisabled = currentValue > 98;
      $(`#substraction_${itemId}`).prop("disabled", minusDisabled);
      $(`#addition_${itemId}`).prop("disabled", plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    for (var i = 0; i < $quantityInput.length; i++) {
      var itemId = $($quantityInput[i]).data("item_id");
      handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $quantityInput.change(function () {
      var itemId = $(this).data("item_id");
      handleEnableDisable(itemId);
    });

    //Substraction button click
    $substractionButton.click(function (e) {
      e.preventDefault();
      let currentInput = parseInt($quantityInput.val());
      currentInput = parseInt(currentInput);
      let newInput = currentInput - 1;

      if (newInput < 1) {
        newInput = 1;
      }

      $quantityInput.val(newInput);

      var itemId = $(this).data("item_id");
      handleEnableDisable(itemId);
    });

    //Addition button click
    $addButton.click(function (e) {
      e.preventDefault();
      let currentInput = parseInt($quantityInput.val());
      currentInput = parseInt(currentInput);
      let newInput = currentInput + 1;

      if (newInput > 99) {
        newInput = 99;
      }

      $quantityInput.val(newInput);
      var itemId = $(this).data("item_id");
      handleEnableDisable(itemId);
    });

  });
</script>
