
/*--------------------------------------------General*/
html{
    height: 100%;
}

body{
    background-color:#484848;
    color: #fafafa;
}

.header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color:#484848;
}

hr {
    border-top: 1px solid #d3d90c;
}


/*--------------------------------------------Navigation*/
.nav-link {
    color: #fafafa;
}

.nav-link:hover {
    color: #d3d90c;
}

.nav-link:active {
    color: #d3d90c;
}

.navbar{
    background-color: #484848;
}

.dropdown-item:hover{
    background-color: #ffc107;
    color: #000000;
}

.dropdown-menu{
    background-color: #484848;
}

.product-card:hover{
    background-color: #f3f3d2;

}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}