{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10 col-md-9 text-center">
        <i class="fa-solid fa-triangle-exclamation fa-5x text-warning mt-5"></i>
      <h2 class="text-uppercase font-weight-bold">
        404 Error: Page Not Found
      </h2>
      <hr class="mb-3" />
      <p>
        Looks like this page missed the coolest tech connection! Let’s return
        you to the Smart Tech store, where all the coolest gadgets and
        accessories are waiting for you.
      </p>
      <a
        class="btn btn-lg btn-warning font-weight-bold text-uppercase w-50 mt-3 mb-3"
        href="{% url 'products' %}"
      >
        Return to shop
      </a>
    </div>
  </div>
</div>
{% endblock %}
