<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
      <li class="nav-item">
          <a class="font-weight-bold nav-link text-light mr-5" href="#" id="all-products-link">
              All Products
          </a>
      </li>

      <li class="nav-item">
          <a class="font-weight-bold nav-link text-light mr-5" href="#" id="gaming-link">
              Gaming
          </a>
      </li>

      <li class="nav-item dropdown">
          <a class="dropdown-toggle font-weight-bold nav-link text-light mr-5" href="#" id="accessoiries-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Accessoiries
          </a>
          <div class="dropdown-menu border-0" aria-labelledby="accessoiries-link">
              <a href="" class="dropdown-item">Charging</a>
              <a href="" class="dropdown-item">Headsets</a>
          </div>
      </li>

      <li class="nav-item">
        <a class="font-weight-bold nav-link text-danger mr-5" href="#" id="special-offers-link">
            Special Offers
        </a>
    </li>

  </ul>
</div>