<ul>
  <!-- Search -->
  <li class="list-inline-item">
    <a
      class="nav-link d-block d-lg-none"
      href="#"
      id="mobile-search"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      aria-label="Search"
    >
      <div class="text-center">
        <div><i class="fas fa-search"></i></div>
      </div>
    </a>
    <div
      class="dropdown-menu dropdown-menu-right border-0 w-100 p-3 rounded-0 my-0"
      aria-labelledby="mobile-search"
    >
      <form method="GET" action="{% url 'products' %}" class="w-100">
        <div class="input-group d-lg-none">
          <input
            class="form-control rounded-0"
            type="text"
            name="q"
            placeholder="Search for products"
          />
          <div class="input-group-append">
            <button
              class="form-control btn btn-warning rounded-0"
              type="submit"
              aria-label="Submit search"
            >
              <span class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </li>

  <!-- Wishlist -->
  <li class="list-inline-item">
    <a
      class="nav-link d-block d-lg-none"
      href="{% url 'wishlist' %}"
      aria-label="Wishlist"
    >
      <div class="text-center">
        <div><i class="fas fa-heart"></i></div>
      </div>
    </a>
  </li>

  <!-- My Account -->
  <li class="list-inline-item dropdown d-lg-none">
    <a
      class="nav-link d-block d-lg-none"
      href="#"
      id="user-options-account"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      aria-label="My Account"
    >
      <div class="text-center">
        <div><i class="fas fa-user"></i></div>
      </div>
    </a>
    <div
      class="dropdown-menu dropdown-menu-right bg-light font-weight-bold border-0"
      aria-labelledby="user-options"
    >
      {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
          <a href="{% url 'add_product' %}" class="dropdown-item" aria-label="Product Management">Product Management</a>
        {% endif %}
        <a href="{% url 'profile' %}" class="dropdown-item" aria-label="My Profile">My Profile</a>
        <a href="{% url 'account_logout' %}" class="dropdown-item" aria-label="Logout">Logout</a>
      {% else %}
        <a href="{% url 'account_signup' %}" class="dropdown-item" aria-label="Register">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item" aria-label="Login">Login</a>
      {% endif %}
    </div>
  </li>

  <!-- Shopping Bag -->
  <li class="list-inline-item">
    <a
      class="nav-link d-block d-lg-none"
      href="{% url 'view_bag' %}"
      aria-label="Shopping Bag"
    >
      <div class="text-center">
        <div><i class="fas fa-shopping-bag"></i></div>
      </div>
    </a>
  </li>
</ul>
