{% extends "base.html" %}

{% block content %}

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center">

        <div class="card shadow-2-strong rounded">
          <div class="card-body p-5 text-center">
            <div class="allauth-form-inner-content text-dark">
              {% block inner_content %}
              {% endblock %}
          </div>
          </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}