{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="container-fluid">
  <!--Title-->
  <div class="row">
    <div class="col text-center mt-4">
      <h5 class="fw-bold text-uppercase">Contact</h5>
      <hr class="w-50 mb-4" />
    </div>
  </div>
  
  <section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">

        <div class="col-8">

        <form action="{% url 'contact' %}" method="POST">

            {% csrf_token %}
            {{form|crispy}}
    
            <div class="text-center">
                <a href="{% url 'products' %}" class="btn btn-lg btn-dark" aria-label="back to the products page">
                    Cancel
                </a>
                <button type="submit" class="btn btn-lg btn-warning">Send</button>
            </div>
    
          </div>
        </form>

  </div>

</div>
</section>

    {% endblock %}

