{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

  <!--Title-->
  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex justify-content-center flex-column align-items-center mt-4">
        <h2 class="fw-bold text-uppercase text-center">Edit product</h2>
        <hr class="w-50 mb-4" />
      </div>
    </div>
  </div>

  <!--Edit product form-->
  <section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class=" col-md-8 card-header">
          <form method="POST" action="{% url 'edit_product' product.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-right">
                <a class="btn btn-light" href="{% url 'products' %}"><strong>Cancel</strong></a>
                <button class="btn btn-success" type="submit"><strong>Save changes</strong></button>
                <a class="btn btn-danger" href="{% url 'delete_product' product.id %}">Delete</a>
            </div>
        </form>
        </div>
      </div>
    </div>
</section>

{% endblock %}
