{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} 

{% block content %}
<div class="container-fluid large-container">
  <div class="row">
      <div class="col text-center mt-3">
          <h1 class="hero-font text-uppercase">Products</h1>
          <hr class="w-50 mb-3">
      </div>
  </div>
  <!-- Sorting Selector -->
  <div class="product-container col-10 offset-1">
      <div class="row">
          <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
              <div class="sort-select-wrapper w-50">
                <select id="sort-selector" class="custom-select custom-select-sm border border-{% if current_sorting != 'None_None' %}warning{% else %}black{% endif %}">
                  <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                  <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                  <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                  <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                  <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                  <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                  <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>

              </select>
              </div>
          </div>
          <!-- Search Results -->
          <div class="col-12 col-md-6 order-md-first">
              <p class="text-muted mt-3 text-center text-md-left">
                  {% if search_term or current_categories or current_sorting != 'None_None' %}
                      <span class="small font-weight-bold"><a class="text-warning" href="{% url 'products' %}">All Products</a> | </span>
                  {% endif %}
                  {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
              </p>
          </div>
      </div>


<div class="container mt-4">
  <div class="row">
    {% for product in products %}
    <div class="col-md-6 col-lg-4 bg-dark p-3 mb-3">
      <a href="{% url 'product_detail' product.id %}" class="text-decoration-none">
      <div class="card d-flex flex-column h-100 mb-3 product-card">
        <div class="row g-0">
          <div class="col-6 d-flex justify-content-center align-items-center">
   
            {% if product.image %}
            <img
              src="{{ product.image.url }}"
              class="p-2 img-fluid rounded-start"
              alt="{{ product.name }}"
            />
            {% else %}

            <img class="p-2 img-fluid rounded-start" src="{{ MEDIA_URL }}noimage.webp" alt="{{ product.name }}">
            {% endif %}

          </div>
          <div class="col-6">
            <div class="card-body p-0 mt-4 mr-2">
              <p class="card-title text-dark text-uppercase">
                {{ product.name }}
              </p>
              <h5 class="card-title text-dark">£{{ product.price }}</h5>
              <p class="card-text text-muted">
                <small class="text-body-secondary"
                  >#{{ product.category.friendly_name }}</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}


{% block extra_js %}

<script>
document.addEventListener('DOMContentLoaded', function () {
    const sortSelector = document.getElementById('sort-selector');
    if (sortSelector) {
        sortSelector.addEventListener('change', function () {
            const selectedValue = this.value;
            const urlParams = new URLSearchParams(window.location.search);

            if (selectedValue === 'reset') {
                urlParams.delete('sort');
                urlParams.delete('direction');
            } else {
                const [sort, direction] = selectedValue.split('_');
                urlParams.set('sort', sort);
                urlParams.set('direction', direction);
            }

            // Redirect with updated query parameters
            const newUrl = `${window.location.pathname}?${urlParams.toString()}`;
            window.location.href = newUrl;
        });
    }
});

</script>
{% endblock %}