{% extends "base.html" %}
{% load static %}
{% block page_header %}

<div class="container header-container mt-5">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}

<!--Product image-->
<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="image-container my-5">
        {% if product.image %}
        <a href="{{ product.image.url }}" target="_blank">
          <img
            class="card-img-top img-fluid"
            src="{{ product.image.url }}"
            alt="{{ product.name }}"
          />
        </a>
        {% else %}

        <img
          class="card-img-top img-fluid"
          src="{{ MEDIA_URL }}noimage.webp"
          alt="{{ product.name }}"
        />
        {% endif %}
      </div>
    </div>

    <!--Product details-->
    <div class="col-12 col-md-6 col-lg-4 ml-4 text-center text-md-left">
      <div class="product-details-container">
        <p class="text-uppercase text-dark bg-light text-center font-weight-bold">
          {{ product.name }}
        </p>
        <p class="font-weight-bold">£{{ product.price }}</p>
        <p>{{ product.description }}</p>
      </div>

      <!--Wishlist-->
      {% if user.is_authenticated %}

      <a
        href="{% url 'add_to_wishlist' product.id %}"
        class="text-light font-weight-bold"
      >
        <div>
          <i class="fa-solid fa-heart fa-2x heart-icon {% if product.id in wishlist_items %}added{% else %}not-added{% endif %}"></i>

          <p>Wishlist items: {{ wishlist_items }}</p>
          <p>Current product ID: {{ product.id }}</p>
          

        </div>
      </a>

      {% else %}
      <i class="text-muted fa-solid fa-heart fa-lg" aria-label="Add to Wishlist"></i>
      <span class="text-muted"
        >Login to save this product to your wishlist</span
      >
      {% endif %}

      <!--Add to bag form-->
      <form
        class="form"
        action="{% url 'add_product_to_bag' product.id %}"
        method="POST"
      >
        {% csrf_token %}
        <div class="form-row">
          <!--Quantity-->
          <div class="col-12">
            <p class="mt-3"><strong>Quantity:</strong></p>
            <div class="w-50">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button
                    class="substraction btn btn-warning px-3 me-2"
                    data-item_id="{{ product.id }}"
                    id="substraction_{{ product.id }}"
                    aria-label="Decrease quantity"
                  >
                    <span class="icon">
                      <i class="fas fa-minus"></i>
                    </span>
                  </button>
                </div>
                <input
                  class="form-control quantity_input"
                  type="number"
                  name="quantity"
                  value="1"
                  min="1"
                  max="99"
                  data-item_id="{{ product.id }}"
                  id="id_quantity_{{ product.id }}"
                />
                <div class="input-group-append">
                  <button
                    class="addition btn btn-warning px-3 me-2"
                    data-item_id="{{ product.id }}"
                    id="addition_{{ product.id }}"
                    aria-label="Increase quantity"
                  >
                    <span class="icon">
                      <i class="fas fa-plus"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <!--Button Add to bag-->
            <input
              type="submit"
              class="btn btn-lg btn-warning font-weight-bold text-uppercase w-100 mt-3 mb-3"
              value="Add to Bag"
            />
          </div>

          <div class="col-12">
            <!--Button Keep shopping-->
            <a
              href="{% url 'products' %}"
              class="btn btn-light mt-1 mb-3 w-100"
            >
              <span class="icon">
                <i class="fas fa-chevron-left"></i>
              </span>
              <span>Keep Shopping</span>
            </a>
          </div>

          <!--Hidden url for redirect-->
          <input type="hidden" name="redirect_url" value="{{ request.path }}" />
        </div>
      </form>

      <!--Delete and edit button-->
      {% if request.user.is_superuser %}

      <a class="btn btn-light" href="{% url 'edit_product' product.id %}"
        >Edit</a
      >
      <a class="btn btn-danger" href="{% url 'delete_product' product.id %}"
        >Delete</a
      >

      {% endif %}
    </div>
  </div>


<!--Add review Modal-->
{% if user.is_authenticated %}
<button type="button" class="btn btn-success btn-lg float-right mr-5" data-toggle="modal" data-target="#addReviewModal">
 <strong>Add review</strong>
</button>
{% else %}
<p class="text-light text-center">You must be logged in to write a review</p>
{% endif %}

<div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="addReviewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="addReviewModalLabel">Add review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form
              method="POST"
              action="{% url 'add_review' product.id %}"
              class="form mb-2"
              enctype="multipart/form-data"
            >
              {% csrf_token %} {{ form | crispy }}

              <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button class="btn btn-success rounded-0" type="submit">
                Add Review
              </button>
            </div>
          </form>
      </div>
      </div>
    </div>
  </div>
</div>




<!--Reviews-->
  <section class="text-dark">
    <div class="container py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
          <h3 class="fw-bold mb-4 text-light">Reviews</h3>
        </div>
      </div>
      <div class="row text-center">
        {% if reviews %} 
        {% for review in reviews %}
        <div class="col mb-4 mb-md-0 w-25">
          <div class="card">
            <div class="card-body py-4 mt-2">
              <h5 class="font-weight-bold">{{ review.rating }}</h5>
              <h5 class="font-weight-bold">{{ review.author }}</h5>
              <h5 class="font-weight-bold my-3">{{ review.title }}</h5>
                         <p class="mb-2">
                <i class="fas fa-quote-left pe-2"></i>{{ review.content }}
              </p>
              {% if review.author == user %}
              <form method="POST" action="{% url 'delete_review' review.id %}" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger"><strong>Delete review</strong></button>
              </form>
          {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="d-flex justify-content-center">
      <p class="text-light text-center">No reviews yet! Be the first one to place a review..</p>
    </div>
    {% endif %}
  </section>

{% endblock %} 
{% block postloadjs %} 
{{ block.super }} 
{% include 'products/includes/quantity_input_script.html' %} {% endblock %}
