{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container mt-5">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="container mt-4">
  <div class="row">
    {% for product in products %}
    <div class="col-md-6 col-lg-4 bg-dark p-3 mb-3">
      <a href="{% url 'product_detail' product.id %}">
      <div class="card d-flex flex-column h-100 bg-light mb-3">
        <div class="row g-0">
          <div class="col-6 d-flex justify-content-center align-items-center">

            <img
              src="{{ product.image.url }}"
              class="p-2 img-fluid rounded-start"
              alt="{{ product.name }}"
            />

          </div>
          <div class="col-6">
            <div class="card-body p-0 mt-4 mr-2">
              <p class="card-title text-dark text-uppercase">
                {{ product.name }}
              </p>
              <h5 class="card-title text-dark">£{{ product.price }}</h5>
              <p class="card-text text-muted">
                <small class="text-body-secondary"
                  >#{{ product.category.friendly_name }}</small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}
